<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Plural Star</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>pluralstar.dedyn.io</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Plural Star uses your approximate location to tag where you are when fronting.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Plural Star needs access to your photo library so you can choose member avatars and banners.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>OpenDyslexic-Bold.otf</string>
		<string>OpenDyslexic-BoldItalic.otf</string>
		<string>OpenDyslexic-Italic.otf</string>
		<string>OpenDyslexic-Regular.otf</string>
		<string>Anton_400Regular.ttf</string>
		<string>AtkinsonHyperlegible_400Regular.ttf</string>
		<string>AtkinsonHyperlegible_400Regular_Italic.ttf</string>
		<string>AtkinsonHyperlegible_700Bold.ttf</string>
		<string>AtkinsonHyperlegible_700Bold_Italic.ttf</string>
		<string>Cause_400Regular.ttf</string>
		<string>Cause_700Bold.ttf</string>
		<string>ComicNeue_400Regular.ttf</string>
		<string>ComicNeue_400Regular_Italic.ttf</string>
		<string>ComicNeue_700Bold.ttf</string>
		<string>ComicNeue_700Bold_Italic.ttf</string>
		<string>Gelasio_400Regular.ttf</string>
		<string>Gelasio_400Regular_Italic.ttf</string>
		<string>Gelasio_700Bold.ttf</string>
		<string>Gelasio_700Bold_Italic.ttf</string>
		<string>Lexend_400Regular.ttf</string>
		<string>Lexend_500Medium.ttf</string>
		<string>Lexend_600SemiBold.ttf</string>
		<string>Lexend_700Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>40c59397-0ef9-4ef0-b4ca-80f7701e5aaf</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
